<div class="container margin-top">
  <div>
    <div class="text-center mail">
      <strong>Mail Sent.</strong>
    </div>
    <div class="text-center check-icon">
      <i class="fas fa-check-circle fa-5x"></i>
    </div>
  </div>
  <div *ngIf="showLoader">
    <div class="text-center mail">
      <strong>Please wait sending mail to your account.</strong>
    </div>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm margin-top">
      <div class="alert alert-success" role="alert">
        Thank you for taking the time to complete the test.<br />
      </div>
      <ul class="list-group list-group-horizontal">
        <li *ngFor="let c of captures">
          <img class="img-thumbnail" alt="Responsive image" src="{{ c }}" height="50" />
        </li>
      </ul>
    </div>
    <div class="col-sm">

      <div style="display: block;">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
</div>