.margin-top {
    margin-top: 50px;

    .row {
        text-align: center;
    }
}

ul {
    list-style-type: none;
}

.list-group {
    padding-right: 10px;
}

.mail {
    color: #FE53BB;
}

.check-icon{
    color: #09FBD3;
}