
%main-colors {
  background-color: #973cbf;
  border-color: #973cbf;
  color: #fff;
}

.startTest {
  padding: 50px 0;
}

.form-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 50px;
}

.question-container {
  background: rgba($color: #D9EB4B, $alpha: 0.3);
  padding: 30px;

  p.lead {
    font-weight: 400;
    color: #000;
  }
}

.blur {
  -webkit-filter: blur(10px);
}

video {
  position: absolute;
  top: -10px;
  right: 80px;
}
#canvas {
  display: none;
}

.page-item {
  padding: 0 1px;

  &.answersGiven {
    .page-link {
      @extend %main-colors;
    }
  }
}

.page-link {
  border: 0;
}

.btn-prev,
.btn-next {
  @extend %main-colors;
  -webkit-appearance: none;
}

.btn-prev:focus,
.btn-next:focus {
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .startTest {
    video {
      height: 100px;
      width: 100px;
      position: absolute;
      top: 124px;
      right: 0;
    }
  }
}
